---
import ElevenEstudio from '@/components/icons/eleven-estudio.astro'
import Email from '@/components/icons/email.astro'
import Facebook from '@/components/icons/facebook.astro'
import Instagram from '@/components/icons/instagram.astro'
import Whatsapp from '@/components/icons/whatsapp.astro'
import { BUSINESS } from '@/config/business'
import BaseLayout from '@/layouts/base-layout.astro'

console.log(Astro.url)

---

<style>
  .eleven-brand::after,
  .eleven-brand::before {
    content: "";
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
    animation: animate 5s alternate-reverse infinite;
  }

  .eleven-brand::before{
    background: linear-gradient(to bottom right,rgba(81, 81, 81, 0),rgba(108, 108, 108, 0),rgba(107, 109, 113, 0.3));;
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
  }
  .eleven-brand::after {
    background: radial-gradient(rgba(132, 132, 132, 0.4),rgba(211, 211, 211, 0));
    width: 240px;
    height: 180px;
  }
</style>

<BaseLayout
  title='Eleven Estudio'
  description='Boilerplate for Astro, a fresh approach to building websites.'
>
  <main class='relative eleven-brand flex flex-col gap-6 items-center justify-center h-screen bg-[#0b0b0b]'>
    <a class='z-10' href={BUSINESS.website} target='_blank' aria-label='Eleven Estudio' title='Link of website of Eleven Estudio' target='_blank'>
      <ElevenEstudio class='w-64 h-auto' />
    </a>
    <p class='text-gray-50 font-openSans'>Get started by editing src/index.astro</p>
    <a href='https://github.com/elevenestudio/astro-template-eleven' class='bg-white rounded-md py-2 px-6 text-lg z-10 font-openSans font-bold' target='_blank'>Get started</a>
    <div class='flex items-center gap-4 absolute bottom-10 left-1/2 transform -translate-x-1/2'>
      <a href={BUSINESS.social.instagram} target='_blank' rel='noreferrer' aria-label='Instagram' title='Link de Instagram'><Instagram class='w-4 h-4 fill-white' /></a>
      <a href={BUSINESS.social.facebook} target='_blank' rel='noreferrer' aria-label='Facebook' title='Link de Facebook'><Facebook class='w-4 h-4 fill-white' /></a>
      <a href={BUSINESS.social.whatsapp} target='_blank' rel='noreferrer' aria-label='WhatsApp' title='Link de WhatsApp'><Whatsapp class='w-4 h-4 fill-white' /></a>
      <a href={BUSINESS.email.link} target='_blank' rel='noreferrer' aria-label='Facebook' title='Link de Correo'><Email class='w-4 h-4 fill-white' /></a>
    </div>
  </main>
</BaseLayout>
